:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebd5d5;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-size: 14px;
  color: rgb(38, 61, 66);
  padding: 15px;
  display: flex;
  place-items:baseline;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff0000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font-family: inherit;
}

.notes {
  list-style-type: none;
  padding-left: 0;
}

.substring-search {
  display: flex;
  gap: 10px;
}

.substring-search input {
  background-color: rgb(200, 200, 200);
  color: rgb(38, 61, 66);
}

.note {
  gap: 10px;
  padding-top: 5px;
  font-size: 15px;
  display:flex;
  align-items:center;
  justify-content:baseline;
}

.delete-note-button {
  color: rgb(200, 200, 200);
  background-color: rgb(38, 61, 66);
  border: none;
  padding: 5px;
  border-radius: 6px;
}

.edit-note-form {
  display:flex;
  align-items:center;
  justify-content:baseline;
  gap: 10px;
  padding: 10px;
}

.edit-note-form input {
  background-color: rgb(200, 200, 200);
  color: rgb(38, 61, 66);
  border: none;
  padding: 5px;
  border-radius: 6px;
}

.edit-note-form button {
  background-color: rgb(200, 200, 200);
  color: rgb(38, 61, 66);
  border: none;
  padding: 5px;
  border-radius: 6px;
}

.add-note-form {
  font-size: 1.2em;
  display:flex;
  align-items:center;
  justify-content:baseline;
  gap: 10px;
  padding: 10px;
  background-color: rgb(214, 158, 158);
  border-radius: 6px;
}

.add-note-form input {
  background-color: rgb(107, 137, 144);
  color: rgb(54, 46, 46);
  padding: 5px;
  border: none;
  border-radius: 6px;
}

.add-note-form button {
  background-color: rgb(107, 137, 144);
  color: rgb(38, 61, 66);
  border: none;
  padding: 5px;
  border-radius: 6px;
}

.error {
  color: rgb(95, 23, 23);
  padding-top: 5px;
  font-size: 15px;
}